
body{
	font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1730ec ;
   font-weight: bold;
}

li {
	float: left;
}

li a {
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.center {
	text-align: center;
	height: 400px;
	width: 500px;
	top: 20%;
	left: 35%;
	
	position: absolute;
	display:block;

}


h1{
    text-align: center;
}